<div class="chat">
    <h1 id="user">Hola soy el Chat</h1>
    <input class="field" type="text" id="chatBox">
    <textarea class="field" id="messageLogs" cols="30" rows="10"></textarea>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>