<main>
        <section class="output_data">
            <div class="display">
                <div id="contenedor"></div>
            </div>
        </section>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="js/main.js"></script>