<main>
    <section id="input">
        <div class="contenedor">
            <ul>
                <li><div class="btn_top btn-green" id="boton_top">Agregar</div></li>
                <li><div class="btn_top btn-green" id="boton_buttom">Eliminar</div></li>
            </ul>
            <div class="color_blue" id="buttom">
                <form id="formDeleteProduct">
                    <p>ID</p>
                    <input class="field" type="text" name="id">
                    <p><input class="btn btn-green" type="submit" value="Eliminar Producto"></p>
                </form>
            </div>
            <div class="color_green" id="top">
                <form id="formPostProduct">
                    <p>Title</p>
                    <input class="field" type="text">
                    <p>Description</p>
                    <input class="field" type="text">
                    <p>Price</p>
                    <input class="field" type="text">
                    <p>Thumbnail</p>
                    <input  class="field" type="text">
                    <p>Code</p>
                    <input  class="field" type="text">
                    <p>Stock</p>
                    <input  class="field" type="text">
                    <p>Category</p>
                    <input  class="field" type="text">
                    <p>Status</p>
                    <input  class="field" type="text">
                    <p><input class="btn btn-green" type="submit" value="Enviar Producto"></p>
                </form>
            </div>
        </div>
    </section>
    <section id="output">
        <div id="display" class="display"></div>
    </section>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="js/script.js"></script>
